$white: #FFF;
$white-bg: #F5F5F5;
$alabaster: #F9F9F9;
$seashell: #F1F1F1;
$gallery: #F0F0F0;
$black: #000;
$main-black: #333;
$violet: #5E51B0;
$turquoise: #5CCCB6;
$turquoise-darker: #4EAD9B;
$yellow: #FFDC47;
$pink: #FF4D87;
$malibu: #81BBFF;
$gray: #666;
$gray2: #A6A6A6;
$gray3: #9B9B9B;
$silver: #C4C4C4;

$font-main: 'Roboto', 'Arial', sans-serif;
$font-montserrat: 'Montserrat', 'Arial', sans-serif;
