<section class="advantages">
  <svg class="advantages__bg-rect" width="1672" height="1142">
    <use href="img/sprite.svg#rect-3"></use>
  </svg>
  <div class="container">
    <svg class="advantages__rect" width="130" height="60">
      <use href="img/sprite.svg#dotted-rect-small"></use>
    </svg>
    <svg class="advantages__icon advantages__icon--1" width="208" height="208" data-rellax data-rellax-speed="4">
      <use href="img/sprite.svg#star"></use>
    </svg>
    <svg class="advantages__icon advantages__icon--2" width="169" height="85" data-parallax data-parallax-speed="2">
      <use href="img/sprite.svg#double-arrow"></use>
    </svg>
    <p class="advantages__title">Наші переваги</p>
    <ul class="advantages__list" data-aos="zoom-in">
      <li class="advantages__item">
        <svg width="48" height="48">
          <use href="img/sprite.svg#quality"></use>
        </svg>
        <h3 class="advantages__item-title">Гарантована якість реклами</h3>
        <p class="advantages__item-text">Ми впевнені в якості наших послуг, тому надаємо гарантію на рекламні конструкції  терміном до 2 років</p>
      </li>
      <li class="advantages__item">
        <svg width="48" height="48">
          <use href="img/sprite.svg#place"></use>
        </svg>
        <h3 class="advantages__item-title">Всі послуги в одному місці</h3>
        <p class="advantages__item-text">Виробництво, друк, монтаж, доставка і дизайн - все в одному місці: чудовий варіант для комплексного обслуговування </p>
      </li>
      <li class="advantages__item">
        <svg width="48" height="48">
          <use href="img/sprite.svg#crowd"></use>
        </svg>
        <h3 class="advantages__item-title">Великий досвід на ринку великої реклами</h3>
        <p class="advantages__item-text">За 10 років роботи в сфері реклами, ми навчилися читати думки наших клієнтів і чудово розуміти їх потреби</p>
      </li>
      <li class="advantages__item">
        <svg width="48" height="48">
          <use href="img/sprite.svg#fast"></use>
        </svg>
        <h3 class="advantages__item-title">Створимо рекламу ну дуууже швидко</h3>
        <p class="advantages__item-text">Оперативний термін виконання замовлення - в найкоротші строки -  до 2-х днів в залежності від обсягу</p>
      </li>
    </ul>
  </div>
</section>
