<section class="cards-grid">
  <svg class="cards-grid__bg-rect" width="1672" height="1142">
    <use href="img/sprite.svg#rect-3"></use>
  </svg>
  <div class="container">
    <svg class="cards-grid__rect" width="130" height="60" data-rellax data-rellax-speed="1">
      <use href="img/sprite.svg#dotted-rect-small"></use>
    </svg>
    <svg class="cards-grid__rect" width="130" height="60" data-rellax data-rellax-speed="-3">
      <use href="img/sprite.svg#dotted-rect-small"></use>
    </svg>
    <h2 class="cards-grid__title">Послуги зовнішньої реклами</h2>
    <div class="swiper-container cards-grid__wrapper">
      <ul class="swiper-wrapper cards-grid__list">
        <li class="swiper-slide cards-grid__item" data-aos="fade-up"  data-aos-delay="0">
          <article class="card">
            <a class="card__link" href="product.html">
              <h3 class="card__title">Об’ємні рекламні конструкції</h3>
              <p class="card__price">від <b>1 500</b> грн</p>
              <svg class="card__arrow"><use href="img/sprite.svg#list-arrow"></use></svg>
            </a>
          </article>
        </li>
        <li class="swiper-slide cards-grid__item" data-aos="fade-up"  data-aos-delay="100">
          <article class="card">
            <a class="card__link" href="product.html">
              <h3 class="card__title">Світлові та несвітлові конструкції</h3>
              <p class="card__price">від <b>2 500</b> грн</p>
              <svg class="card__arrow"><use href="img/sprite.svg#list-arrow"></use></svg>
            </a>
          </article>
        </li>
        <li class="swiper-slide cards-grid__item" data-aos="fade-up"  data-aos-delay="200">
          <article class="card">
            <a class="card__link" href="product.html">
              <h3 class="card__title">Дахові рекламні конструкції</h3>
              <p class="card__price">від <b>3 500</b> грн</p>
              <svg class="card__arrow"><use href="img/sprite.svg#list-arrow"></use></svg>
            </a>
          </article>
        </li>
        <li class="swiper-slide cards-grid__item" data-aos="fade-up"  data-aos-delay="300">
          <article class="card">
            <a class="card__link" href="product.html">
              <h3 class="card__title">Комплексне оформлення вхідної групи</h3>
              <p class="card__price">від <b>800</b> грн</p>
              <svg class="card__arrow"><use href="img/sprite.svg#list-arrow"></use></svg>
            </a>
          </article>
        </li>
        <li class="swiper-slide cards-grid__item" data-aos="fade-up"  data-aos-delay="0">
          <article class="card">
            <a class="card__link" href="product.html">
              <h3 class="card__title">Оформлення фасадів</h3>
              <p class="card__price">від <b>500</b> грн</p>
              <svg class="card__arrow"><use href="img/sprite.svg#list-arrow"></use></svg>
            </a>
          </article>
        </li>
        <li class="swiper-slide cards-grid__item" data-aos="fade-up"  data-aos-delay="100">
          <article class="card">
            <a class="card__link" href="product.html">
              <h3 class="card__title">Стели</h3>
              <p class="card__price">від <b>500</b> грн</p>
              <svg class="card__arrow"><use href="img/sprite.svg#list-arrow"></use></svg>
            </a>
          </article>
        </li>
        <li class="swiper-slide cards-grid__item" data-aos="fade-up"  data-aos-delay="200">
          <article class="card">
            <a class="card__link" href="product.html">
              <h3 class="card__title">Рекламні штендери</h3>
              <p class="card__price">від <b>500</b> грн</p>
              <svg class="card__arrow"><use href="img/sprite.svg#list-arrow"></use></svg>
            </a>
          </article>
        </li>
        <li class="swiper-slide cards-grid__item" data-aos="fade-up"  data-aos-delay="300">
          <article class="card">
            <a class="card__link" href="product.html">
              <h3 class="card__title">Брендування  автомобілів</h3>
              <p class="card__price">від <b>500</b> грн</p>
              <svg class="card__arrow"><use href="img/sprite.svg#list-arrow"></use></svg>
            </a>
          </article>
        </li>
        <li class="swiper-slide cards-grid__item" data-aos="fade-up"  data-aos-delay="0">
          <article class="card">
            <a class="card__link" href="product.html">
              <h3 class="card__title">Брендування тентованого вантажного транспорту</h3>
              <p class="card__price">від <b>500</b> грн</p>
              <svg class="card__arrow"><use href="img/sprite.svg#list-arrow"></use></svg>
            </a>
          </article>
        </li>
        <li class="swiper-slide cards-grid__item" data-aos="fade-up"  data-aos-delay="100">
          <article class="card">
            <a class="card__link" href="product.html">
              <h3 class="card__title">Лайтбокси</h3>
              <p class="card__price">від <b>500</b> грн</p>
              <svg class="card__arrow"><use href="img/sprite.svg#list-arrow"></use></svg>
            </a>
          </article>
        </li>
        <li class="swiper-slide cards-grid__item" data-aos="fade-up"  data-aos-delay="200">
          <article class="card">
            <a class="card__link" href="product.html">
              <h3 class="card__title">Виготовлення стендів, куточків</h3>
              <p class="card__price">від <b>500</b> грн</p>
              <svg class="card__arrow"><use href="img/sprite.svg#list-arrow"></use></svg>
            </a>
          </article>
        </li>
        <li class="swiper-slide cards-grid__item" data-aos="fade-up"  data-aos-delay="300">
          <article class="card">
            <a class="card__link" href="product.html">
              <h3 class="card__title">Номерні знаки на будинки</h3>
              <p class="card__price">від <b>500</b> грн</p>
              <svg class="card__arrow"><use href="img/sprite.svg#list-arrow"></use></svg>
            </a>
          </article>
        </li>
      </ul>
      <div class="cards-grid__slider-nav">
        <button type="button" class="cards-grid__slider-arrow prev">
          <svg width="9" height="16">
            <use href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
        <div class="swiper-pagination"></div>
        <button type="button" class="cards-grid__slider-arrow next">
          <svg width="9" height="16">
            <use href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
