<section class="contacts">
  <svg class="contacts__bg-rect" width="1672" height="1142">
    <use href="img/sprite.svg#rect-1"></use>
  </svg>
  <div class="container">
    <div class="contacts__text-wrapper">
      <h2 class="contacts__heading">Контакти</h2>
      <p class="contacts__title">Телефон</p>
      <p class="contacts__text"><a href="tel:+380977346367">+38 (097) 734 63 67</a></p>
      <p class="contacts__title">Адреса</p>
      <p class="contacts__text">Офіс: м. Вінниця, вул. Пирогова 110</p>
      <p class="contacts__text">Виробництво: м. Вінниця, вул. Гонти 30</p>
      <include src="src/html/components/contact-form.html"></include>
    </div>
  </div>
  <div class="contacts__iframe">
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29538.204104018343!2d28.462834369819777!3d49.242130594391995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472d450ec89de9ff%3A0xb2dd89c1b9d6f7a5!2z0JLQldCa0KLQntCgINCy0LjRgNC-0LHQvdC40YbRgtCy0L4g0YDQtdC60LvQsNC80Lg!5e0!3m2!1suk!2sua!4v1596796391463!5m2!1suk!2sua" width="600" height="450" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
    <iframe src="https://www.google.com/maps/d/embed?mid=1r2DPl2wmt4whv1xgf096Rz0T3iaLQJGt" width="640" height="480"></iframe>
</section>
