<form class="contact-form contact-form--in-popup">
  <p class="contact-form__title">Зворотній звязок</p>
  <ul class="contact-form__list">
    <li class="contact-form__item">
      <input class="contact-form__input" type="text" id="username" name="username" required placeholder="Ім'я">
      <label class="visually-hidden" for="username">Ім'я</label>
    </li>
    <li class="contact-form__item">
      <input class="contact-form__input" type="tel" id="usertel" name="usertel" required placeholder="Номер телефону">
      <label class="visually-hidden" for="usertel">Номер телефону</label>
    </li>
  </ul>
  <button class="contact-form__btn" type="submit" data-open-popup="form-success">Відправити</button>
</form>
