<section class="equipment">
  <svg class="equipment__bg-rect" width="1672" height="1142">
    <use href="img/sprite.svg#rect-1"></use>
  </svg>
  <svg class="equipment__bg-rect" width="1672" height="1142">
    <use href="img/sprite.svg#rect-3"></use>
  </svg>
  <div class="container">
    <div class="equipment__row" data-aos="fade-up">
      <div class="equipment__col">
        <h2 class="equipment__title">Устаткування</h2>
        <p class="equipment__text">Нас ну дуууже часто запитують замовники та партнери, що і як ми робимо, але ми ще не готові відкривати всі свої професійні напрацювання і прийоми, багато з яких є унікальними і розроблені за довгі роки нашої роботи.</p>
        <p class="equipment__text">Але можемо відкрити один секрет: наша агенція створює рекламу тільки з якісних та надійних матеріалів, від надійних постачальників, які прослужать ну дуууже довго.</p>
      </div>
      <div class="equipment__col">
        <div class="equipment__img">
          <img src="img/equipment-1.png" srcset="img/equipment-1@2x.png 2x" alt="">
          <!-- <svg class="equipment__rect" width="130" height="270" data-rellax data-rellax-speed="-2">
            <use href="img/sprite.svg#dotted-rect-vertical"></use>
          </svg> -->
        </div>
      </div>
    </div>
    <div class="equipment__row" data-aos="fade-up">
      <div class="equipment__col">
        <ul class="equipment__list">
          <li class="equipment__item">
            <svg><use href="img/sprite.svg#list-arrow"></use></svg>
            Створюємо рекламу будь-якої складності: вивіски, об'ємні літери, брендування машин, лайтбокси та широкоформатний друк
          </li>
          <li class="equipment__item">
            <svg><use href="img/sprite.svg#list-arrow"></use></svg>
            В арсеналі “Вектор” сучасне обладнання, новітні технології і матеріали та кращі спеціалісти виробництва реклами
          </li>
          <li class="equipment__item">
            <svg><use href="img/sprite.svg#list-arrow"></use></svg>
            Монтаж конструкцій проводиться в суворій відповідності з проектом, за затвердженими будівельними правилами і нормами
          </li>
          <li class="equipment__item">
            <svg><use href="img/sprite.svg#list-arrow"></use></svg>
            В нашому штаті власні бригади, що здійснюють монтаж і демонтаж всіх видів рекламних конструкцій, нестандартних в тому числі
          </li>
        </ul>
      </div>
      <div class="equipment__col">
        <div class="equipment__img">
          <img src="img/equipment-2.png" srcset="img/equipment-2@2x.png 2x" alt="">
          <!-- <svg class="equipment__rect" width="270" height="130" data-rellax data-rellax-speed="2">
            <use href="img/sprite.svg#dotted-rectangle"></use>
          </svg> -->
        </div>
      </div>
    </div>
  </div>
</section>
