<section class="hero">
  <svg class="hero__bg-rect" width="1672" height="1142">
    <use href="img/sprite.svg#rect-1"></use>
  </svg>
  <div class="container">
    <div class="hero__rows">
      <div class="hero__col hero__col--text hero__col--service">
        <h2 class="hero__title">Привіт, шукаєш широкоформатний друк?</h2>
        <p class="hero__text">Якщо ти плануєш масштабну рекламну кампанію чи просто хочеш підвищити впізнаваність свого бренду, тобі не обійтись без широкоформатного друку.</p>
        <p class="hero__text">Друкуємо рекламу малих і дуууже великих форматів, різних форм та розмірів з точною передачею кольору зображення на будь-який матеріал.</p>
      </div>
      <div class="hero__col hero__col--img">
        <svg class="hero__rect" width="270" height="130" data-rellax data-rellax-speed="-6">
          <use href="img/sprite.svg#dotted-rectangle"></use>
        </svg>
        <svg class="hero__shape hero__shape--service" width="438" height="446">
          <use href="img/sprite.svg#hero-shape"></use>
        </svg>
        <div class="hero__img">
          <article class="service service--active service--printing">
            <div class="service__link">
              <span class="visually-hidden">широкоформатний друк</span>
              <picture>
                <source media="(max-width: 1023px)" srcset="img/printing-image.png 1x, img/printing-image@2x.png 2x">
                <img class="service__img" src="img/printing-image-big.png" srcset="img/printing-image-big@2x.png 2x" alt="">
              </picture>
              <svg class="service__text" width="489" height="173">
                <use href="img/sprite.svg#printing-text"></use>
              </svg>
              <svg class="service__icon service__icon--1" width="160" height="160">
                <use href="img/sprite.svg#star"></use>
              </svg>
              <svg class="service__icon service__icon--2" width="80" height="80">
                <use href="img/sprite.svg#printing-icon-2"></use>
              </svg>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
