<section class="hero">
  <svg class="hero__bg-rect" width="1672" height="1142">
    <use href="img/sprite.svg#rect-1"></use>
  </svg>
  <div class="container">
    <div class="hero__rows">
      <div class="hero__col hero__col--text hero__col--service">
        <h2 class="hero__title">Що це за реклама без соковитого дизайну?</h2>
        <p class="hero__text">В процесі створення реклами виникає дуууже поширена проблема: розроблений брендинг складно адаптувати під рекламу. Лого не вписується в розміри або кольорова гамма зовсім не придатна для друку.</p>
        <p class="hero__text">Є ідеальне рішення, замовити в “Вектор” весь комплекс послуг створення власного бренду, від ідеї до створення реклами.</p>
      </div>
      <div class="hero__col hero__col--img">
        <svg class="hero__rect" width="270" height="130" data-rellax data-rellax-speed="-6">
          <use href="img/sprite.svg#dotted-rectangle"></use>
        </svg>
        <svg class="hero__shape hero__shape--service" width="438" height="446">
          <use href="img/sprite.svg#hero-shape"></use>
        </svg>
        <div class="hero__img">
          <article class="service service--active service--design">
            <div class="service__link">
              <span class="visually-hidden">дизайн логотипів та макетів</span>
              <picture>
                <source media="(max-width: 1023px)" srcset="img/design-image.png 1x, img/design-image@2x.png 2x">
                <img class="service__img" src="img/design-image-big.png" srcset="img/design-image-big@2x.png 2x" alt="">
              </picture>
              <svg class="service__text" width="435" height="173">
                <use href="img/sprite.svg#design-text"></use>
              </svg>
              <svg class="service__icon service__icon--1" width="128" height="128">
                <use href="img/sprite.svg#design-icon-1"></use>
              </svg>
              <svg class="service__icon service__icon--2" width="64" height="64">
                <use href="img/sprite.svg#design-icon-2"></use>
              </svg>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
