<section class="hero">
  <svg class="hero__bg-rect" width="1672" height="1142">
    <use href="img/sprite.svg#rect-1"></use>
  </svg>
  <div class="container">
    <div class="hero__rows">
      <div class="hero__col hero__col--text">
        <h2 class="hero__title">«Вектор» — агенція ну дуууже великого друку</h2>
        <p class="hero__text">Ми дуууже крута агенція «Вектор», яка на ринку рекламного друку ще з 2008 року. Потрібна якісна реклама? А може хочеш створити цікаву вивіску чи забрендувати авто?</p>
        <p class="hero__text">«Вектор» — завжди до твоїх послуг!</p>
        <p class="hero__text">Ми знаємо чого хочуть ваші клієнти - підберемо оптимальний формат, представимо ваш бізнес яскраво, допоможемо привернути до нього увагу, отримати нових клієнтів і головне, збільшити впізнаваність.</p>
      </div>
      <div class="hero__col hero__col--img">
        <svg class="hero__rect" width="270" height="130" data-rellax data-rellax-speed="-6">
          <use href="img/sprite.svg#dotted-rectangle"></use>
        </svg>
        <svg class="hero__arrow" width="86" height="154" data-rellax data-rellax-speed="-2">
          <use href="img/sprite.svg#double-arrow-to-bottom"></use>
        </svg>
        <svg class="hero__shape" width="438" height="446">
          <use href="img/sprite.svg#hero-shape"></use>
        </svg>
        <div class="hero__img">
          <picture>
            <source media="(max-width: 1023px)" srcset="img/about-us-mobile.png 1x, img/about-us-mobile@2x.png 2x">
            <img src="img/about-us.png" srcset="img/about-us@2x.png 2x" alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
