<section class="hero hero--information">
  <svg class="hero__bg-rect" width="1672" height="1142">
    <use href="img/sprite.svg#rect-1"></use>
  </svg>
  <div class="container">
    <div class="hero__rows">
      <div class="hero__col hero__col--text">
        <h2 class="hero__title">Технічні вимоги для широкоформатного друку</h2>
        <p class="hero__text">Растрові файли:</p>
        <p class="hero__text">Tiff — CMYK 8 біт, без шарів (всі зображення повинно бути зведено в одному шарі Background), без додаткових альфа-каналів (Channels), без шляхів (Paths)</p>
        <p class="hero__text">Векторні файли не є готовими до друку і в роботу приймаються тільки після додаткової підготовки за окрему оплату. Якщо Ви зробили макет в CorelDRAW, Adobe Illustrator або в будь-якій іншій векторній програмі, експортуйте його в формат TIFF (CMYK);</p>
      </div>
      <div class="hero__col hero__col--img">
        <svg class="hero__rect" width="270" height="130" data-rellax data-rellax-speed="-6">
          <use href="img/sprite.svg#dotted-rectangle"></use>
        </svg>
        <svg class="hero__arrow" width="86" height="154" data-rellax data-rellax-speed="-2">
          <use href="img/sprite.svg#double-arrow-to-bottom"></use>
        </svg>
        <svg class="hero__shape" width="438" height="446">
          <use href="img/sprite.svg#hero-shape"></use>
        </svg>
        <div class="hero__img">
          <picture>
            <source media="(max-width: 1023px)" srcset="img/info-mobile.png 1x, img/info-mobile@2x.png 2x">
            <img src="img/info.png" srcset="img/info@2x.png 2x" alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
