<section class="hero">
  <svg class="hero__bg-rect" width="1672" height="1142">
    <use href="img/sprite.svg#rect-1"></use>
  </svg>
  <div class="container">
    <div class="hero__rows">
      <div class="hero__col hero__col--text hero__col--service">
        <h2 class="hero__title">Хочеш ну дуууже помітну рекламу?</h2>
        <p class="hero__text">Згоден, що реклама повинна працювати на результат? <br> Міський простір ну дуууже заповнений всілякими фасадними вивісками, зовнішньою рекламою різних видів. <br> Тому непросто стати помітним в такій великій кількості оголошень.</p>
        <p class="hero__text">За погляд клієнта потрібно боротися!</p>
      </div>
      <div class="hero__col hero__col--img">
        <svg class="hero__rect" width="270" height="130" data-rellax data-rellax-speed="-6">
          <use href="img/sprite.svg#dotted-rectangle"></use>
        </svg>
        <svg class="hero__shape hero__shape--service" width="438" height="446">
          <use href="img/sprite.svg#hero-shape"></use>
        </svg>
        <div class="hero__img">
          <article class="service service--active service--advertising">
            <div class="service__link">
              <span class="visually-hidden">зовнішня реклама</span>
              <picture>
                <source media="(max-width: 1023px)" srcset="img/ads-image.png 1x, img/ads-image@2x.png 2x">
                <img class="service__img" src="img/ads-image-big.png" srcset="img/ads-image-big@2x.png 2x" alt="">
              </picture>
              <svg class="service__text" width="412" height="113">
                <use href="img/sprite.svg#advertising-text"></use>
              </svg>
              <svg class="service__icon service__icon--1" width="80" height="80">
                <use href="img/sprite.svg#advertising-icon-1"></use>
              </svg>
              <svg class="service__icon service__icon--2" width="136" height="136">
                <use href="img/sprite.svg#advertising-icon-2"></use>
              </svg>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
