<section class="information">
  <div class="container">
    <ul class="information__tab-list" data-tab-list="information">
      <li class="information__tab-item">
        <a class="information__tab active" href="#delivery-payment" data-tab>доставка та оплата</a>
      </li>
      <li class="information__tab-item">
        <a class="information__tab" href="#recommendations" data-tab>рекомендації</a>
      </li>
    </ul>
  </div>
  <ul id="information" class="information__content-list">
    <li id="recommendations" class="information__content-item" data-tab-panel>
      <include src="src/html/components/hero--information.html"></include>
      <div class="container">
        <div class="information__slider-container swiper-container">
          <ul class="information__slider-list swiper-wrapper">
            <li class="information__slider-item swiper-slide">
              <article class="recommendation">
                <svg class="recommendation__icon" width="48" height="48">
                  <use href="img/sprite.svg#size"></use>
                </svg>
                <h3 class="recommendation__title">Рекомендації по вибору розширення друку:</h3>
                <ul class="recommendation__list">
                  <li class="recommendation__item">
                    <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                    <b>360 dpi</b> — для зображень, що використовуються на вулиці і переглядаються з відстані більше 3-5 м
                  </li>
                  <li class="recommendation__item">
                    <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                    <b>720 dpi</b> — для зображень, що використовуються в приміщеннях і на вулиці, що переглядаються з відстані менше 1,5-2 м, що містять текстові елементи менше 30 мм
                  </li>
                  <li class="recommendation__item">
                    <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                    <b>Інтер'єрний друк 1440 dpi</b> — для зображень, що використовуються в приміщеннях, що переглядаються з відстані менше 1,5 м і містять текстові елементи менше 10 мм
                  </li>
                </ul>
              </article>
            </li>
            <li class="information__slider-item swiper-slide">
              <article class="recommendation">
                <svg class="recommendation__icon" width="48" height="48">
                  <use href="img/sprite.svg#color"></use>
                </svg>
                <h3 class="recommendation__title">Рекомендовані налаштування «Color Settings» у программі Photoshop:</h3>
                <ul class="recommendation__list recommendation__list--two-cols">
                  <li class="recommendation__item">
                    <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                    <b>Ink Colors:</b><br> Toyo Inks (Coated)
                  </li>
                  <li class="recommendation__item">
                    <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                    <b>Total Ink Limit:</b><br> 300%
                  </li>
                  <li class="recommendation__item">
                    <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                    <b>Dot Gain:</b><br> 8%
                  </li>
                  <li class="recommendation__item">
                    <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                    <b>Black ink Limit:</b><br> 100%
                  </li>
                  <li class="recommendation__item">
                    <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                    <b>Separation type:</b><br> GCR
                  </li>
                  <li class="recommendation__item">
                    <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                    <b>Чорний колір:</b><br> (C50; M50; Y50; K100)
                  </li>
                  <li class="recommendation__item">
                    <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                    <b>Black Generation:</b><br> Medium
                  </li>
                </ul>
              </article>
            </li>
            <li class="information__slider-item swiper-slide">
              <article class="recommendation">
                <svg class="recommendation__icon" width="48" height="48">
                  <use href="img/sprite.svg#search"></use>
                </svg>
                <h3 class="recommendation__title">Супровідна інформація при відправці файлів.</h3>
                <ul class="recommendation__list recommendation__list--two-cols">
                  <li class="recommendation__item">
                    <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                    <b>Назва файлу</b>
                  </li>
                  <li class="recommendation__item">
                    <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                    <b>Розширення друку</b>
                  </li>
                  <li class="recommendation__item">
                    <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                    <b>Кількість</b>
                  </li>
                  <li class="recommendation__item">
                    <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                    <b>Точні розміри</b>
                  </li>
                  <li class="recommendation__item">
                    <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                    <b>Матеріал</b>
                  </li>
                  <li class="recommendation__item">
                    <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                    <b>Додаткові вимоги</b><br> (припуск фону, поля і т.п.)
                  </li>
                  <li class="recommendation__item">
                    <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                    <b>Яка потрібна післядрукарська обробка</b>
                  </li>
                </ul>
              </article>
            </li>
            <li class="information__slider-item swiper-slide">
              <article class="recommendation">
                <svg class="recommendation__icon" width="48" height="48">
                  <use href="img/sprite.svg#screen"></use>
                </svg>
                <h3 class="recommendation__title">Розширення растрових файлів:</h3>
                <ul class="recommendation__list">
                  <li class="recommendation__item">
                    <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                    <b>Для друку з розширенням 360 dpi</b> — 35-50 dpi. Для зображень 3х6 м і більше, досить 35 dpi, при розмірі файлу не більше 100 Mb
                  </li>
                  <li class="recommendation__item">
                    <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                    <b>Для друку з роздільною здатністю 720 dpi</b> — 70-100 dpi. (Для зображень, що складаються тільки з фотографій —  70 dpi,  для зображень, що містять текстові елементи — 100 dpi, при розмірі файлу не більше 200 Mb)
                  </li>
                  <li class="recommendation__item">
                    <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                    <b>Для інтер'єрного друку з роздільною здатністю 1440 dpi</b> — 100-150 dpi. (Для зображень, що складаються тільки з фотографій — 100 dpi, для зображень, що містять текстові елементи — 150 dpi, при розмірі файлу не більше 400 Mb
                  </li>
                </ul>
              </article>
            </li>
          </ul>
          <div class="information__slider-nav">
            <div class="swiper-button-prev">
              назад
              <svg width="9" height="16">
                <use href="img/sprite.svg#arrow-right"></use>
              </svg>
            </div>
            <div class="swiper-button-next">
              далі
              <svg width="9" height="16">
                <use href="img/sprite.svg#arrow-right"></use>
              </svg>
            </div>
            <div class="swiper-scrollbar"></div>
          </div>
        </div>
      </div>
      <svg class="information__slider-rect" width="130" height="60">
        <use href="img/sprite.svg#dotted-rect-small"></use>
      </svg>
    </li>
    <li id="delivery-payment" class="information__content-item" data-tab-panel>
      <svg class="information__bg-rect" width="1672" height="1142">
        <use href="img/sprite.svg#rect-1"></use>
      </svg>
      <div class="container">
        <h2 class="information__title">Доставка та оплата</h2>
        <svg class="information__rect" width="130" height="60" data-rellax data-rellax-speed="1">
          <use href="img/sprite.svg#dotted-rect-small"></use>
        </svg>
        <svg class="information__rect" width="130" height="60" data-rellax data-rellax-speed="-3">
          <use href="img/sprite.svg#dotted-rect-small"></use>
        </svg>
        <ul class="information__delivery-payment-list">
          <li class="information__delivery-payment-item">
            <article class="delivery-payment">
              <svg class="delivery-payment__icon" width="390" height="390">
                <use href="img/sprite.svg#advertising-icon-2"></use>
              </svg>
              <h3 class="delivery-payment__title">Самовивіз</h3>
              <p class="delivery-payment__text">Самовивіз здійснюється <br>
                Пн по ПТ з 9:00 до 18:00 з нашої виробничої площадки:</p>
              <p class="delivery-payment__text">м. Вінниця, вул.Гонти, 30</p>
              <img src="img/delivery-1.png" srcset="img/delivery-1@2x.png 2x" alt="">
            </article>
          </li>
          <li class="information__delivery-payment-item">
            <article class="delivery-payment">
              <svg class="delivery-payment__icon" width="390" height="390">
                <use href="img/sprite.svg#advertising-icon-2"></use>
              </svg>
              <h3 class="delivery-payment__title">До адресата</h3>
              <p class="delivery-payment__text">Організуємо доставку за вказаною адресою; <br>
                Доставляємо продукцію за допомогою великих транспортних компаній. В цьому випадку вартість доставки буде залежати від габаритів, загальної ваги і віддаленості регіону.</p>
              <img src="img/delivery-2.png" srcset="img/delivery-2@2x.png 2x" alt="">
            </article>
          </li>
          <li class="information__delivery-payment-item">
            <article class="delivery-payment">
              <svg class="delivery-payment__icon" width="390" height="390">
                <use href="img/sprite.svg#advertising-icon-2"></use>
              </svg>
              <h3 class="delivery-payment__title">Доставка на будь-яке відділення по Україні</h3>
              <p class="delivery-payment__text">Доставка оплачується отримувачем при отриманні; Замовлення відправляються доставкою «Нова Пошта». У середньому, доставка займає 1-3 дні.</p>
              <img src="img/delivery-3.png" srcset="img/delivery-3@2x.png 2x" alt="">
              <div class="delivery-payment__info">
                <button type="button" class="delivery-payment__info-btn">!</button>
                <div class="delivery-payment__info-text">
                  <p>Важливо! Після надходження на відділення посилка зберігається до 30 днів, за зберігання із 8-го календарного дня нараховується доплата, потім вона повертається назад.</p>
                </div>
              </div>
            </article>
          </li>
          <li class="information__delivery-payment-item">
            <article class="delivery-payment">
              <svg class="delivery-payment__icon" width="390" height="390">
                <use href="img/sprite.svg#advertising-icon-2"></use>
              </svg>
              <h3 class="delivery-payment__title">Оплата на карту Приват Банку</h3>
              <p class="delivery-payment__text">Після підтвердження замовлення на друк, вам на електронну пошту буде відправлено лист з реквізитами для оплати і номером карти, на який ви можете зробити переказ.</p>
              <img src="img/payment-1.png" srcset="img/payment-1@2x.png 2x" alt="">
              <div class="delivery-payment__info">
                <button type="button" class="delivery-payment__info-btn">!</button>
                <div class="delivery-payment__info-text">
                  <p>Важливо! Банки і платіжні системи можуть стягувати комісію за переказ, що може призвести до неповної оплати замовлення і затримки його обробки.</p>
                </div>
              </div>
            </article>
          </li>
          <li class="information__delivery-payment-item">
            <article class="delivery-payment">
              <svg class="delivery-payment__icon" width="390" height="390">
                <use href="img/sprite.svg#advertising-icon-2"></use>
              </svg>
              <h3 class="delivery-payment__title">Оплата готівкою при отриманні</h3>
              <p class="delivery-payment__text">Оплатити замовлення, можна готівкою при самовивозі
                з нашої виробничої площадки, якщо сума замовлення не більше 200 грн.</p>
              <img src="img/payment-2.png" srcset="img/payment-2@2x.png 2x" alt="">
            </article>
          </li>
          <li class="information__delivery-payment-item">
            <article class="delivery-payment">
              <svg class="delivery-payment__icon" width="390" height="390">
                <use href="img/sprite.svg#advertising-icon-2"></use>
              </svg>
              <h3 class="delivery-payment__title">Безготівковий розрахунок</h3>
              <p class="delivery-payment__text">Юридичні особи, фізичні особи-підприємці і будь-хто може оплатити замовлення за безготівковим переказом на наш банківський рахунок.</p>
              <img src="img/payment-3.png" srcset="img/payment-3@2x.png 2x" alt="">
              <div class="delivery-payment__info">
                <button type="button" class="delivery-payment__info-btn">!</button>
                <div class="delivery-payment__info-text">
                  <p>Після надходження коштів замовлення буде готове до відправки або самовивозу разом з комплектом документів (оригіналом рахунки і двома видатковими накладними).</p>
                  <p>Забрати готове замовлення можна за дорученням або з печаткою вашого підприємства, ФОП.</p>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</section>
