<nav class="main-nav">
  <ul class="main-nav__list">
    <li class="main-nav__item">
      <article class="service service--big service--advertising">
        <a class="service__link" href="advertising.html">
          <span class="visually-hidden">зовнішня реклама</span>
          <picture>
            <source media="(max-width: 767px)" srcset="img/ads-image-small.png, img/ads-image-small@2x.png 2x">
            <source media="(max-width: 1023px)" srcset="img/ads-image.png, img/ads-image@2x.png 2x">
            <img class="service__img" src="img/ads-image-big.png" srcset="img/ads-image-big@2x.png 2x" alt="">
          </picture>
          <svg class="service__text" width="412" height="113">
            <use href="img/sprite.svg#advertising-text"></use>
          </svg>
          <svg class="service__icon service__icon--1" width="80" height="80">
            <use href="img/sprite.svg#advertising-icon-1"></use>
          </svg>
          <svg class="service__icon service__icon--2" width="136" height="136">
            <use href="img/sprite.svg#advertising-icon-2"></use>
          </svg>
        </a>
      </article>
    </li>
    <li class="main-nav__item">
      <article class="service service--big service--printing">
        <a class="service__link" href="printing.html">
          <span class="visually-hidden">широкоформатний друк</span>
          <picture>
            <source media="(max-width: 767px)" srcset="img/printing-image-small.png, img/printing-image-small@2x.png 2x">
            <source media="(max-width: 1023px)" srcset="img/printing-image.png" srcset="img/printing-image@2x.png 2x">
            <img class="service__img" src="img/printing-image-big.png" srcset="img/printing-image-big@2x.png 2x" alt="">
          </picture>
          <svg class="service__text" width="489" height="173">
            <use href="img/sprite.svg#printing-text"></use>
          </svg>
          <svg class="service__icon service__icon--1" width="160" height="160">
            <use href="img/sprite.svg#star"></use>
          </svg>
          <svg class="service__icon service__icon--2" width="80" height="80">
            <use href="img/sprite.svg#printing-icon-2"></use>
          </svg>
        </a>
      </article>
    </li>
    <li class="main-nav__item">
      <article class="service service--big service--design">
        <a class="service__link" href="design.html">
          <span class="visually-hidden">дизайн логотипів та макетів</span>
          <picture>
            <source media="(max-width: 767px)" srcset="img/design-image-small.png, img/design-image-small@2x.png 2x">
            <source media="(max-width: 1023px)" srcset="img/design-image.png" srcset="img/design-image@2x.png 2x">
            <img class="service__img" src="img/design-image-big.png" srcset="img/design-image-big@2x.png 2x" alt="">
          </picture>
          <svg class="service__text" width="435" height="173">
            <use href="img/sprite.svg#design-text"></use>
          </svg>
          <svg class="service__icon service__icon--1" width="128" height="128">
            <use href="img/sprite.svg#design-icon-1"></use>
          </svg>
          <svg class="service__icon service__icon--2" width="64" height="64">
            <use href="img/sprite.svg#design-icon-2"></use>
          </svg>
        </a>
      </article>
    </li>
    <li class="main-nav__item">
      <article class="service service--big service--calc">
        <a class="service__link" href="calculator.html">
          <span class="visually-hidden">зовнішня реклама</span>
          <picture>
            <source media="(max-width: 767px)" srcset="img/calc-mobile.png, img/calc-mobile@2x.png 2x">
            <source media="(max-width: 1023px)" srcset="img/calc-tablet.png, img/calc-tablet@2x.png 2x">
            <img class="service__img" src="img/calc-desktop.png" srcset="img/calc-desktop@2x.png 2x" alt="">
          </picture>
          <svg class="service__text" width="479" height="113">
            <use href="img/sprite.svg#calc-text"></use>
          </svg>
          <svg class="service__icon service__icon--1" width="54" height="54">
            <use href="img/sprite.svg#design-icon-2"></use>
          </svg>
          <svg class="service__icon service__icon--2" width="67" height="67">
            <use href="img/sprite.svg#printing-icon-2"></use>
          </svg>
        </a>
      </article>
    </li>
  </ul>
</nav>
