<section class="other-services">
  <svg class="other-services__bg-rect" width="1672" height="1142">
    <use href="img/sprite.svg#rect-1"></use>
  </svg>
  <div class="container">
    <svg class="other-services__rect" width="270" height="130">
      <use href="img/sprite.svg#dotted-rectangle"></use>
    </svg>
    <svg class="other-services__rect" width="270" height="130">
      <use href="img/sprite.svg#dotted-rectangle"></use>
    </svg>
    <p class="other-services__title">Інші послуги</p>
    <ul class="other-services__list">
      <li class="other-services__item" data-aos="zoom-in-left">
        <article class="service service--printing">
          <a class="service__link" href="printing.html">
            <span class="visually-hidden">широкоформатний друк</span>
            <picture>
              <!-- <source media="(max-width: 767px)" srcset="img/printing-image-mobile.png, img/printing-image-mobile@2x.png 2x"> -->
              <img class="service__img" src="img/printing-image.png" srcset="img/printing-image@2x.png 2x" alt="">
            </picture>
            <svg class="service__text" width="245" height="87">
              <use href="img/sprite.svg#printing-text"></use>
            </svg>
            <svg class="service__icon service__icon--1" width="80" height="80">
              <use href="img/sprite.svg#star"></use>
            </svg>
            <svg class="service__icon service__icon--2" width="40" height="40">
              <use href="img/sprite.svg#printing-icon-2"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="other-services__item" data-aos="zoom-in-right">
        <article class="service service--design">
          <a class="service__link" href="design.html">
            <span class="visually-hidden">дизайн логотипів та макетів</span>
            <picture>
              <!-- <source media="(max-width: 767px)" srcset="img/design-image-mobile.png, img/design-image-mobile@2x.png 2x"> -->
              <img class="service__img" src="img/design-image.png" srcset="img/design-image@2x.png 2x" alt="">
            </picture>
            <svg class="service__text" width="218" height="87">
              <use href="img/sprite.svg#design-text"></use>
            </svg>
            <svg class="service__icon service__icon--1" width="64" height="64">
              <use href="img/sprite.svg#design-icon-1"></use>
            </svg>
            <svg class="service__icon service__icon--2" width="32" height="33">
              <use href="img/sprite.svg#design-icon-2"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="other-services__item" data-aos="zoom-in-left">
        <article class="service service--advertising">
          <a class="service__link" href="advertising.html">
            <span class="visually-hidden">зовнішня реклама</span>
            <picture>
              <!-- <source media="(max-width: 767px)" srcset="img/advertising-image-mobile.png, img/advertising-image-mobile@2x.png 2x"> -->
              <img class="service__img" src="img/ads-image.png" srcset="img/ads-image@2x.png 2x" alt="">
            </picture>
            <svg class="service__text" width="206" height="57">
              <use href="img/sprite.svg#advertising-text"></use>
            </svg>
            <svg class="service__icon service__icon--1" width="40" height="40">
              <use href="img/sprite.svg#advertising-icon-1"></use>
            </svg>
            <svg class="service__icon service__icon--2" width="69" height="69">
              <use href="img/sprite.svg#advertising-icon-2"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="other-services__item" data-aos="zoom-in-right">
        <button class="other-services__contacts" type="button" data-open-popup="contact-form">
          <svg width="39" height="39">
            <use href="img/sprite.svg#tel"></use>
          </svg>
          <span>Звязатися з нами</span>
        </button>
      </li>
    </ul>
  </div>
</section>
