<section class="our-clients">
  <svg class="our-clients__bg-rect" width="1672" height="870">
    <use href="img/sprite.svg#rect-2"></use>
  </svg>
  <div class="container">
    <svg class="our-clients__icon our-clients__icon--1" width="208" height="208" data-rellax data-rellax-speed="3">
      <use href="img/sprite.svg#star"></use>
    </svg>
    <svg class="our-clients__icon our-clients__icon--2" width="169" height="85" data-parallax data-parallax-speed="2">
      <use href="img/sprite.svg#double-arrow"></use>
    </svg>
    <svg class="our-clients__rect" width="130" height="60">
      <use href="img/sprite.svg#dotted-rect-small"></use>
    </svg>
    <p class="our-clients__heading">Наші клієнти</p>
    <ul class="our-clients__list">
      <li class="our-clients__item" data-aos="fade-up" data-aos-delay="0">
        <picture>
          <source media="(max-width: 767px)" srcset="img/client-1-mobile.png, img/client-1.png 2x">
          <img src="img/client-1.png" srcset="img/client-1@2x.png 2x" alt="">
        </picture>
      </li>
      <li class="our-clients__item" data-aos="fade-up" data-aos-delay="100">
        <picture>
          <source media="(max-width: 767px)" srcset="img/client-2-mobile.png, img/client-2.png 2x">
          <img src="img/client-2.png" srcset="img/client-2@2x.png 2x" alt="">
        </picture>
      </li>
      <li class="our-clients__item" data-aos="fade-up" data-aos-delay="200">
        <picture>
          <source media="(max-width: 767px)" srcset="img/client-3-mobile.png, img/client-3.png 2x">
          <img src="img/client-3.png" srcset="img/client-3@2x.png 2x" alt="">
        </picture>
      </li>
      <li class="our-clients__item" data-aos="fade-up" data-aos-delay="300">
        <picture>
          <source media="(max-width: 767px)" srcset="img/client-4-mobile.png, img/client-4.png 2x">
          <img src="img/client-4.png" srcset="img/client-4@2x.png 2x" alt="">
        </picture>
      </li>
      <li class="our-clients__item">
        <picture>
          <source media="(max-width: 767px)" srcset="img/client-5-mobile.png, img/client-5.png 2x">
          <img src="img/client-5.png" srcset="img/client-5@2x.png 2x" alt="">
        </picture>
      </li>
      <li class="our-clients__item" data-aos="fade-up" data-aos-delay="100">
        <picture>
          <source media="(max-width: 767px)" srcset="img/client-6-mobile.png, img/client-6.png 2x">
          <img src="img/client-6.png" srcset="img/client-6@2x.png 2x" alt="">
        </picture>
      </li>
      <li class="our-clients__item" data-aos="fade-up" data-aos-delay="200">
        <picture>
          <source media="(max-width: 767px)" srcset="img/client-7-mobile.png, img/client-7.png 2x">
          <img src="img/client-7.png" srcset="img/client-7@2x.png 2x" alt="">
        </picture>
      </li>
      <li class="our-clients__item" data-aos="fade-up" data-aos-delay="300">
        <picture>
          <source media="(max-width: 767px)" srcset="img/client-8-mobile.png, img/client-8.png 2x">
          <img src="img/client-8.png" srcset="img/client-8@2x.png 2x" alt="">
        </picture>
      </li>
    </ul>
  </div>
</section>
