<div class="popup popup--hidden" data-popup="photo-gallery">
  <div class="popup__box popup__box--photo-gallery" data-popup-box>
    <div class="photo-gallery">
      <div class="swiper-pagination"></div>
      <button class="photo-gallery__close-btn" data-close-popup type="button">Close</button>
      <div class="swiper-container photo-gallery__container">
        <ul class="swiper-wrapper photo-gallery__list">
          <li class="swiper-slide photo-gallery__item">
            <img src="img/beef.jpg" srcset="img/beef@2x.jpg 2x" alt="">
          </li>
          <li class="swiper-slide photo-gallery__item">
            <img src="img/eko-dim-1.jpg" srcset="img/eko-dim-1@2x.jpg 2x" alt="">
          </li>
          <li class="swiper-slide photo-gallery__item">
            <img src="img/eko-dim-2.jpg" srcset="img/eko-dim-2@2x.jpg 2x" alt="">
          </li>
          <li class="swiper-slide photo-gallery__item">
            <img src="img/eko-dim-5.jpg" srcset="img/eko-dim-5@2x.jpg 2x" alt="">
          </li>
          <li class="swiper-slide photo-gallery__item">
            <img src="img/medilabs-1.jpg" srcset="img/medilabs-1@2x.jpg 2x" alt="">
          </li>
          <li class="swiper-slide photo-gallery__item">
            <img src="img/mhp-1.jpg" srcset="img/mhp-1@2x.jpg 2x" alt="">
          </li>
          <li class="swiper-slide photo-gallery__item">
            <img src="img/mhp-2.jpg" srcset="img/mhp-2@2x.jpg 2x" alt="">
          </li>
          <li class="swiper-slide photo-gallery__item">
            <img src="img/mhp-3.jpg" srcset="img/mhp-3@2x.jpg 2x" alt="">
          </li>
          <li class="swiper-slide photo-gallery__item">
            <img src="img/volia-1.jpg" srcset="img/volia-1@2x.jpg 2x" alt="">
          </li>
          <li class="swiper-slide photo-gallery__item">
            <img src="img/volia-2.jpg" srcset="img/volia-2@2x.jpg 2x" alt="">
          </li>
          <li class="swiper-slide photo-gallery__item">
            <img src="img/wok-1.jpg" srcset="img/wok-1@2x.jpg 2x" alt="">
          </li>
        </ul>
      </div>
      <button class="photo-gallery__arrow prev" type="button">
        <span>
          <svg><use href="img/sprite.svg#arrow-right"></use></svg>
        </span>
      </button>
      <button class="photo-gallery__arrow next" type="button">
        <span>
          <svg><use href="img/sprite.svg#arrow-right"></use></svg>
        </span>
      </button>
    </div>
  </div>
</div>
