<div class="popup popup--hidden" data-popup="form-success">
  <div class="popup__box" data-popup-box>
    <svg class="contact-form__icon contact-form__icon--1">
      <use href="img/sprite.svg#star"></use>
    </svg>
    <svg class="contact-form__icon contact-form__icon--2" width="69" height="69">
      <use href="img/sprite.svg#advertising-icon-2"></use>
    </svg>
    <include src="src/html/components/form-success.html"></include>
    <button class="popup__close-btn" data-close-popup type="button">Close</button>
  </div>
</div>
