<section class="product">
  <svg class="product__bg-rect" width="1672" height="1142">
    <use href="img/sprite.svg#rect-1"></use>
  </svg>
  <div class="product__back">
    <include src="src/html/components/back.html"></include>
  </div>
  <div class="container">
    <div class="product__row">
      <div class="product__content">
        <h1 class="product__title">Стела</h1>
        <div class="product__content-wrapper">
          <p>Рекламна стела представляє собою об'ємну, тривимірну вертикальну конструкцію розмірами до 30 метрів у висоту. Може бути виготовлена ​​як у вигляді стандартних форм (прямокутник), так і з застосуванням нестандартних креативних рішень - різні стрілки, інформаційні блоки по периметру стели.Встановлена ​​перед офісом, салоном або магазином стела формує імідж компанії і допомагає споживачеві знайти вас, і відрізнити вашу продукцію від продукції інших компаній. Переваги цієї конструкції в тому, що на відміну від звичайного рекламного щита стела не обмежена якимись строгими рамками, є можливість використання в дизайні тривимірних об'єктів, що, безсумнівно, дуже ефектно виглядає і привертає увагу потенційних клієнтів, покупців і споживачів товарів або послуг</p>
          <h2>Різновиди стел</h2>
          <p>За розмірами стаціонарні стели діляться на великогабаритні і малогабаритні. Малогабаритні, не такі вже і малі: їх висота від трьох до шести метрів. Конструкція встановлюється на армований бетонний фундамент. При необхідності підсвічування розміщується всередині або зовні.
          Великогабаритні стели досягають тридцятиметрової висоти. Такі монументальні споруди базуються на силовий опорі (або декількох), яка підтримує рекламне поле. Фундамент відливається на місці установки.</p>
          <p>За конструкцією стели діляться на плоскі типу світлового короба (економний варіант) і об'ємні різноманітного дизайну.
          Рекламні стели, як правило, бувають стаціонарними (великі, високі стели на бетонних підставах, в основному користуються популярністю у автосервісів і заправок, офісних і торгово-розважальних центрів) та мобільними.
          Відмінність від стаціонарних стел, які серйозно пустили коріння в бетонну основу, і мобільних в тому, що ці легкі конструкції розраховані на переміщення в зібраному або розібраному вигляді.</p>
          <h2>4 причини вибрати стели для реклами</h2>
          <p><b>Унікальність.</b> Стела - одна з найбільш непередбачуваних в плані дизайну рекламних споруд. Суворих стандартів при проектуванні стели немає. Вона може бути оснащена різними елементами відповідно до потреб замовника та ідеями дизайнера: табличками, декором, об'ємними літерами, щитами, фігурами.</p>
          <p><b>Солідність.</b> Уже своїми розмірами стела підкреслює респектабельність рекламованого бренду або компанії.</p>
          <p><b>Можливість трансформації.</b> При необхідності будь-який різновид стели може обладнуватися знімними панелями. В такому випадку розширення спектра послуг або ребрендинг не вимагають заміни цілої конструкції. Досить замість застарілої панелі поставити нову.</p>
        </div>
        <button class="product__btn-more" type="button">Згорнути текст</button>
      </div>
      <aside class="product__aside" data-sticky-container>
        <div class="product__pagination">
          <include src="src/html/components/pagination.html"></include>
        </div>
        <div class="product__price-box" data-sticky data-margin-top="80">
          <p class="product__price-title">Орієнтовна вартість</p>
          <p class="product__price-subtitle">друк на дуже дорогій бумазі</p>
          <ul class="product__price-list">
            <li class="product__price-item">
              <p class="product__price-item-title">послуга 1</p>
              <p class="product__price-item-value">від <b>500</b> грн</p>
            </li>
            <li class="product__price-item">
              <p class="product__price-item-title">послуга 2</p>
              <p class="product__price-item-value">від <b>5 500</b> грн</p>
            </li>
            <li class="product__price-item">
              <p class="product__price-item-title">послуга 3</p>
              <p class="product__price-item-value">від <b>800</b> грн</p>
            </li>
            <li class="product__price-item">
              <p class="product__price-item-title">послуга 4</p>
              <p class="product__price-item-value">від <b>1 500</b> грн</p>
            </li>
          </ul>
          <button type="button" class="product__btn" data-open-popup="contact-form">Звязатися з нами</button>
        </div>
      </aside>
    </div>
  </div>
</section>
