<section class="work-cases">
  <svg class="work-cases__bg-rect" width="1672" height="1142">
    <use href="img/sprite.svg#rect-1"></use>
  </svg>
  <div class="container">
    <svg class="work-cases__rect" width="270" height="130" data-rellax data-rellax-speed="-3">
      <use href="img/sprite.svg#dotted-rectangle"></use>
    </svg>
    <svg class="work-cases__rect" width="270" height="130" data-rellax data-rellax-speed="2">
      <use href="img/sprite.svg#dotted-rectangle"></use>
    </svg>
    <p class="work-cases__title">Наші роботи</p>
    <ul class="work-cases__list">
      <li class="work-cases__item">
        <article class="work-case work-case--1">
          <div class="work-case__logo">
            <img src="img/case-1.png" srcset="img/case-1@2x.png 2x" alt="">
            <p class="work-case__more-link">
              детальніше
              <svg><use href="img/sprite.svg#eye"></use></svg>
            </p>
          </div>
          <div class="work-case__overlay">
            <ul class="work-case__list">
              <li class="work-case__item">
                <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                Виготовлення стели
              </li>
              <li class="work-case__item">
                <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                Виготовлення окремої стели, каркас профільної труби з закладеними на бетонну подушку, обшитий композитними панелями
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="work-cases__item">
        <article class="work-case work-case--2">
          <div class="work-case__logo">
            <img src="img/case-2.svg" alt="">
            <p class="work-case__more-link">
              детальніше
              <svg><use href="img/sprite.svg#eye"></use></svg>
            </p>
          </div>
          <div class="work-case__overlay">
            <ul class="work-case__list">
              <li class="work-case__item">
                <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                Виготовлення зовнішньої вивіски
              </li>
              <li class="work-case__item">
                <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                Комплексне виконанання вивіски та вхідної грури "СушиВок" згідно встановленим правилам "бренбуку"
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="work-cases__item">
        <article class="work-case work-case--3">
          <div class="work-case__logo">
            <img src="img/case-3.png" srcset="img/case-3@2x.png 2x" alt="">
            <p class="work-case__more-link">
              детальніше
              <svg><use href="img/sprite.svg#eye"></use></svg>
            </p>
          </div>
          <div class="work-case__overlay">
            <ul class="work-case__list">
              <li class="work-case__item">
                <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                Друк на тентованому матеріалі, брендування автомобіля
              </li>
              <li class="work-case__item">
                <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                Широкоформатний друк на тентованій тканині
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="work-cases__item">
        <article class="work-case work-case--4">
          <div class="work-case__logo">
            <img src="img/case-4.png" srcset="img/case-4@2x.png 2x" alt="">
            <p class="work-case__more-link">
              детальніше
              <svg><use href="img/sprite.svg#eye"></use></svg>
            </p>
          </div>
          <div class="work-case__overlay">
            <ul class="work-case__list">
              <li class="work-case__item">
                <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                Виготовлення зовнішньої вивіски
              </li>
              <li class="work-case__item">
                <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                Виготовлення вивіски ВОЛЯ ценртральний лайбокс світловий, логотип надрукваний УФ друком. Бокові фрізи білим композит
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="work-cases__item">
        <article class="work-case work-case--5">
          <div class="work-case__logo">
            <img src="img/case-5.png" srcset="img/case-5@2x.png 2x" alt="">
            <p class="work-case__more-link">
              детальніше
              <svg><use href="img/sprite.svg#eye"></use></svg>
            </p>
          </div>
          <div class="work-case__overlay">
            <ul class="work-case__list">
              <li class="work-case__item">
                <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                Брендування автомобіля
              </li>
              <li class="work-case__item">
                <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                Брендування автомобіля автомобільною плівкою
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="work-cases__item">
        <article class="work-case work-case--6">
          <div class="work-case__logo">
            <img src="img/case-6.png" srcset="img/case-6@2x.png 2x" alt="">
            <p class="work-case__more-link">
              детальніше
              <svg><use href="img/sprite.svg#eye"></use></svg>
            </p>
          </div>
          <div class="work-case__overlay">
            <ul class="work-case__list">
              <li class="work-case__item">
                <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                Виготовлення зовнішньої вивіски
              </li>
              <li class="work-case__item">
                <svg><use href="img/sprite.svg#list-arrow"></use></svg>
                Основа - жовтий композит з об'ємними світловими буквами, каркас вивіски виконаний з легкого матеріалу, так як монтаж зроблено на скляний фасад ТЦ «Ізумруд».
              </li>
            </ul>
          </div>
        </article>
      </li>
    </ul>
    <button class="work-cases__btn" type="button" data-open-popup="photo-gallery">Дивитись фото робіт</button>
  </div>
</section>
