<footer class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="footer__col">
        <div class="footer__widget">
          <a class="footer__logo" href="index.html">
            <svg width="187" height="43">
              <use href="img/sprite.svg#logo"></use>
            </svg>
          </a>
          <p class="footer__copyright">All rights reserved <br> 2020 © Vector</p>
          <p>Made by <a class="footer__agency" href="#!">dedey.digital</a></p>
        </div>
      </div>
      <div class="footer__col">
        <div class="footer__widget">
          <h3 class="footer__widget-title">Навігація сайту</h3>
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="index.html">головна</a>
            </li>
            <li class="footer__nav-item">
              <a href="information.html">інфомація</a>
            </li>
            <li class="footer__nav-item">
              <a href="about-us.html">про нас</a>
            </li>
            <li class="footer__nav-item">
              <a href="contacts.html">контакти</a>
            </li>
            <li class="footer__nav-item">
              <a href="our-works.html">наші роботи</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__col">
        <div class="footer__widget">
          <h3 class="footer__widget-title">контакти</h3>
          <p class="footer__popup"><a href="#!" data-open-popup="contact-form">зворотній звязок</a></p>
          <p><a href="tel:+380673038490">+38 (067) 303 84 90</a></p>
          <p><a href="mailto:example@gmail.com">example@gmail.com</a></p>
          <p><a href="https://goo.gl/maps/caMpgAWShaXw24y17" target="_blank" rel="noreferrer noopener">м. Вінниця, вул. Пирогова 110</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
