<div class="tapbar">
  <nav class="tapbar__nav">
    <ul class="tapbar__nav-list">
      <li class="tapbar__nav-item">
        <a href="index.html" class="tapbar__link">
          <svg class="tapbar__icon" width="19" height="20">
            <use href="img/sprite.svg#home"></use>
          </svg>
          Головна
        </a>
      </li>
      <li class="tapbar__nav-item">
        <a href="our-works.html" class="tapbar__link">
          <svg class="tapbar__icon" width="20" height="20">
            <use href="img/sprite.svg#cases"></use>
          </svg>
          Кейси
        </a>
      </li>
      <li class="tapbar__nav-item">
        <a href="calculator.html" class="tapbar__link">
          <svg class="tapbar__icon" width="18" height="20">
            <use href="img/sprite.svg#calc"></use>
          </svg>
          Калькулятор
        </a>
      </li>
      <li class="tapbar__nav-item">
        <button type="button" class="tapbar__link open-menu">
          <svg class="tapbar__icon" width="22" height="6">
            <use href="img/sprite.svg#more"></use>
          </svg>
          Додатково
        </button>
      </li>
    </ul>
  </nav>
</div>

