.hero {
  position: relative;
  padding: 120px 0;

  @include mobile {
    padding-top: 0;
    padding-bottom: 28px;
  }

  &__bg-rect {
    position: absolute;
    top: -440px;
    left: -600px;

    @include mobile {
      left: auto;
      right: 50%;
      width: 504px;
      height: 344px;
      top: -85px;
    }
  }

  &--information &__bg-rect {
    @include mobile {
      top: -20px;
    }
  }

  &__back {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;

    @include mobile {
      top: 2px;
    }
  }

  &__rows {
    display: flex;

    @include mobile {
      flex-direction: column-reverse;
    }
  }

  &__col {
    width: 50%;
    position: relative;

    @include mobile {
      width: 100%;
    }

    &--text {
      z-index: 4;

      @include mobile {
        padding-top: 40px;
      }
    }

    &--service {
      @include mobile {
        padding-top: 20px;
      }
    }

    &--img {
      align-self: center;

      @include tablet {
        max-width: 320px;
        margin-left: auto;
      }

      @include mobile {
        max-width: 100%;
      }
    }
  }

  &__title {
    @include title-with-divider;

    margin-bottom: 32px;
    max-width: 480px;

    @include tablet {
      margin-bottom: 24px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 20px;
    line-height: 1.7;

    @include mobile {
      margin-bottom: 16px;
      line-height: 1.5;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__shape {
    display: block;
    margin-left: auto;
    position: relative;
    z-index: 3;
    filter: drop-shadow(4px 4px 40px rgba($black, 0.05));

    @include tablet {
      max-width: 290px;
      height: auto;
    }

    @include mobile {
      position: absolute;
      top: 24px;
      left: 50%;
      transform: translateX(-50%);
    }

    &--service {
      @include mobile {
        display: none;
      }
    }
  }

  &__rect {
    position: absolute;
    left: 89px;
    top: -56px;

    @include mobile {
      display: none;
    }
  }

  &__arrow {
    position: absolute;
    bottom: 0;
    left: 73px;
    z-index: 4;

    @include tablet {
      width: 43px;
      height: auto;
      left: 0;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 0;
    right: -30px;
    transform: translateY(-50%);
    height: 100%;
    z-index: 3;
    text-align: center;
    padding-left: 10%;
    padding-top: 12px;

    @include tablet {
      right: 0;
      padding-left: 0;
    }

    @include mobile {
      position: relative;
      transform: none;
      padding-top: 32px;
    }
  }

  &__col--service + &__col--img &__img {
    padding-top: 0;
  }
}
