.information {
  position: relative;
  padding-bottom: 60px;

  @include mobile {
    padding-bottom: 28px;
  }

  &__bg-rect {
    position: absolute;
    top: -36%;
    left: -600px;

    @include mobile {
      top: 56px;
      left: 50%;
      width: 504px;
      height: 344px;
      transform: rotateX(180deg);
    }
  }

  &__rect {
    position: absolute;

    &:first-of-type {
      left: -24px;
      top: 105%;

      @include mobile {
        display: none;
      }
    }

    &:last-of-type {
      right: -24px;
      top: 180px;

      @include mobile {
        top: 77px;
        right: 0;
        left: calc(50% + 20px);
      }
    }
  }

  &__tab-list {
    @include list-reset;

    display: flex;
    align-items: center;
    position: absolute;
    top: 48px;
    z-index: 5;

    @include mobile {
      position: relative;
      top: 0;
      margin-top: 24px;
      justify-content: center;
    }
  }

  &__tab-item {
    margin-right: 12px;

    @include mobile {
      margin-right: 10px;
      flex-grow: 1;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__tab {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 11px 24px;
    color: $turquoise;
    background-color: rgba($turquoise, 0.1);
    border: 1px solid rgba($turquoise, 0.1);
    transition: border 0.25s;

    @include mobile {
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
    }

    &:hover,
    &:focus {
      border-top-color: $turquoise;
    }

    &.active {
      border-color: $turquoise;
    }
  }

  &__content-list {
    @include list-reset;
  }

  &__content-item {
    animation: fade 0.5s;

    &.hidden {
      display: none;
    }
  }

  &__slider-container {
    margin-top: 60px !important;
    padding-top: 62px !important;
    overflow: visible !important;

    @include mobile {
      margin-top: 28px !important;
      padding-top: 42px !important;
    }
  }

  &__slider-list {
    @include list-reset;

    position: relative;
    z-index: 3;
    margin-bottom: 40px;
    background-color: $alabaster;

    @include mobile {
      background-color: transparent;
      margin-bottom: 0;
    }
  }

  &__slider-item {
    height: auto !important;

    > * {
      opacity: 0.2;
      transition: opacity 0.3s;

      @include tablet {
        opacity: 1;
      }
    }

    &.swiper-slide-active > *,
    &.swiper-slide-next > * {
      opacity: 1;
    }
  }

  &__slider-nav {
    .swiper-button-prev,
    .swiper-button-next {
      top: 0;
      margin-top: 0;
      width: auto !important;
      height: auto !important;
      font-size: 16px;
      line-height: 1.2;
      color: $turquoise;
      transition: opacity 0.3s;

      &::after {
        display: none;
      }

      &.swiper-button-disabled {
        opacity: 0;
      }

      svg {
        fill: $turquoise;
        position: absolute;
        top: 50%;
      }
    }

    .swiper-button-prev {
      left: 0;
      padding-left: 16px;

      svg {
        left: 0;
        transform: translateY(-50%) rotate(180deg);
      }
    }

    .swiper-button-next {
      right: 0;
      padding-right: 16px;

      svg {
        right: 0;
        transform: translateY(-50%);
      }
    }

    .swiper-scrollbar {
      height: 2px !important;
      position: static !important;
      width: 100% !important;
      background-color: rgba($gray3, 0.23) !important;

      @include mobile {
        display: none;
      }
    }

    .swiper-scrollbar-drag {
      background-color: $turquoise;
    }
  }

  &__title {
    @include title-with-divider;

    padding-top: 120px;
    margin-bottom: 40px;

    @include mobile {
      padding-top: 24px;
      margin-bottom: 24px;
    }
  }

  &__delivery-payment-list {
    @include list-reset;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;

    @include mobile {
      display: block;
    }
  }

  &__delivery-payment-item {
    box-shadow: 4px 4px 40px rgba($black, 0.05);

    @include mobile {
      margin-bottom: 2px;
    }
  }

  &__slider-rect {
    display: none;

    @include mobile {
      display: block;
      position: absolute;
      bottom: 0;
      left: calc(50% + 20px);
    }
  }
}
