.popup-calc {
  padding-top: 58px;
  padding-bottom: 40px;
  max-width: 320px;
  margin: 0 auto;
  text-align: center;

  &__icon {
    position: absolute;
    fill: rgba($turquoise, 0.2);

    &.--i1 {
      top: -36px;
      left: -36px;
    }

    &.--i2 {
      bottom: -36px;
      right: -36px;
    }
  }

  &__title {
    position: relative;
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;

    @include mobile {
      font-size: 20px;
    }
  }

  &__text {
    position: relative;
    margin: 18px 0;
  }

  &__form-list {
    @include list-reset;
  }

  &__form-item {
    position: relative;
    margin-bottom: 16px;
  }

  &__input {
    display: block;
    font-size: 16px;
    width: 100%;
    border: 0;
    padding: 8px 0;
    line-height: 1.5;
    background-color: transparent;
    border-bottom: 1px solid rgba($black, 0.1);
    border-radius: 0;
    transition: border 0.25s;

    &:focus {
      outline: none;
      border-bottom-color: $turquoise;
    }

    &::placeholder {
      color: inherit;
      opacity: 0.4;
    }
  }

  &__btn {
    @include btn;

    position: relative;
    display: flex;
    width: 100%;
    margin: 40px 0 20px;

    @include mobile {
      margin: 32px 0 16px;
    }
  }
}
