$popup-transition-time: 0.5s;

.popup {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 25;
  padding: 30px;
  overflow-y: scroll;

  @include mobile {
    padding: 15px;
  }

  &--hidden {
    z-index: -1;
    opacity: 0;
    transition-delay: $popup-transition-time;
  }

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 26;
    background-color: rgba(#000, 0.6);
    opacity: 1;
    transition: opacity $popup-transition-time;
  }

  &--hidden::before {
    opacity: 0;
  }

  &__box {
    position: relative;
    z-index: 27;
    margin: auto;
    padding: 0 15px;
    width: 100%;
    max-width: 500px;
    background-color: #FFF;
    transition: transform $popup-transition-time, opacity $popup-transition-time / 3;
    transform: translateY(0);
    overflow: hidden;

    &--photo-gallery {
      max-width: 1308px;
      background-color: transparent;

      @include mobile {
        padding: 0;
      }
    }
  }

  &--hidden .popup__box {
    transform: translateY(-150vh);
    opacity: 0;
  }

  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 56px;
    font-size: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;

    @include mobile {
      width: 50px;
      height: 50px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 2px;
      background-color: #000;
      transition: all 0.25s;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:hover::before,
    &:hover::after {
      width: 26px;
      background-color: rgba(#000, 0.7);
    }
  }
}
